*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list style: none;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: montserrat;
}
nav{
    background-color: rgb(56, 53, 53);
    margin: 0;
    
}
